<%= form_for @post, :html => {:class => "new_form"} do |f| %>
	<h3 class="form_header left">New Post</h3>
	<%= f.check_box :public_status %><%= f.label :public_status %>
	<%= f.check_box :sync_status %><%= f.label :sync_status %>
	<%= f.label :title %><%= f.text_field :title %>
	<%= label_tag :tags %>
	<%= text_field_tag :tags, list_tags(@post.tags) %>
	<%= f.label :body %><%= f.text_area :body, "class" => "mousetrap", "data-widearea" => "enable" %>
	<%= f.submit %>
<% end %>