<%= render 'user_panel' %>

<ul>
	<li><%= link_to "Back to List", posts_path %></li>
	<li><%= link_to "Edit", edit_post_path(@post) %></li>
	<li><%= link_to "Delete"	, post_path(@post), method: "delete" %></li>
</ul>

<div class="posts">
	<h4><%= @post.title %></h4>
	<ul>
		<% @post.tags.each do |tag| %>
			<li><%= tag.name %></li>
		<% end %>
	</ul>
	<p><%= markdown(@post.body) %></p>
</div>

<% @comments.each do |comment| %>
	<div class="comments">
		<p><%= comment.body %></p>
	</div>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
	<p><%= f.label :body %><br>
	<%= f.text_area :body %></p>
	<p><%= f.submit %></p>
<% end %>
