<div class="each_post">
	<div class="each_post_header clearfix">
		<h4 class="left"><i class="fa fa-pencil-square"></i><%= @posty.title %></h4>
		<div class="status right">
			<% if @posty.public_status %>
				<i class="fa fa-unlock"></i>
			<% else %>
				<i class="fa fa-lock"></i>
			<% end %>
			<% if @posty.sync_status %>
				<i class="fa fa-github"></i>
			<% end %>
		</div>
	</div>
	<div class="each_post_content"><%= markdown(@posty.body) %></div>
	<div class="each_post_footer">
		<ul>
		<% @posty.tags.each do |tag| %>
			<li><i class="fa fa-tag"></i><%= link_to tag.name, "/posts/tags/#{tag.name}" %></li>
		<% end %>
		</ul>
	</div>
</div>

<div class="comments">
	<div class="comment_header">
		<h4><i class="fa fa-comments-o"></i>Comments</h4>
	</div>
	<div class="comment_form clearfix">
		<%= form_for [@posty, @posty.comments.build] do |f| %>
			<p>Post a comment:<br>
			<div class="row collapse">
				<div class="large-10 columns"><%= f.text_field :body %></p></div>
				<div class="large-2 columns"><%= f.submit :class => 'button postfix' %></div>
			</div>
		<% end %>
	</div>
	<div class="comment_content">
		<% @comments.each do |comment| %>
		<div class="row collapse each_comment">
			<div class="small-2 large-1 columns"><img src="<%= comment.user.avatar_url %>" class="th"></div>
			<div class="small-10 large-11 columns comment_body"><%= comment.body %></div>
			<% if comment.user.id == current_user.id %><div class="comment_delete"><%= link_to "Delete", comment_path(comment), method: "delete" %></div><% end %>
		</div>
		<% end %>
	</div>
</div>

<%= render 'form' %>
<%= render 'edit_form' %>