<%= render 'user_panel' %>

<p><%= link_to "Back to List", posts_path %></p>

<div class="post">
	<h4><%= @post.title %></h4>
	<p><%= raw markdown(@post.body) %></p>
</div>

<% @comments.each do |comment| %>
	<div class="comment_block">
		<p><%= comment.body %></p>
	</div>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
	<%= f.label :body %>
	<%= f.text_area :body %>
	<%= f.submit %>
<% end %>
